@inherits ViewPage<PushNotifications.ServiceModel.HelloResponse>
<h2 style="color: green">Model at version <span data-bind="text:version">@Model.Version </span></h2>

<p>
	<a href="/">&lt; home</a>
</p>

<section >
	
</section>


